<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit!</title>
</head>
<body>
<form th:method="patch" th:action="@{/test/{id}(id=${testorder.getId()})}" th:object="${testorder}">
    <label for="name">Enter Name:</label>
    <input name="name" type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="customerName">Enter CustomerName:</label>
    <input name="customerName" type="text" th:field="*{customerName}"  id="customerName"/>
    <br/>
    <label for="comment">Enter Comment:</label>
    <input name="comment" type="text" th:field="*{comment}" id="comment">
    <br/>
    <label for="cost">Enter Cost:</label>
    <input name="cost" type="number" th:field="*{cost}" id="cost">
    <br/>
    <input type="submit" value="Update!">
</body>
</html>